<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <bean id="actor" class="com.stackroute.domain.Actor">
        <property name="name" value="meghana"/>
        <property name="gender" value="female"/>
        <property name="age" value="22"/>
    </bean>
    <!--<bean name="movieA" class="com.stackroute.domain.Movie" autowire="byType">
    </bean>-->
    <!--<bean name="movie" class="com.stackroute.domain.Movie" autowire="byName">
</bean>-->
    <bean name="movie" class="com.stackroute.domain.Movie">
        <constructor-arg name="actor" ref="actor"></constructor-arg>
    </bean>


</beans>